# List your files: 
# -----------------
# To ignore a specific file: config.env
# To ignore an entire folder: node_modules/
# To ignore all files of a certain type: *.log

.gitignore
.env
.bkp
.bkp/
api.txt
ai_debug.log
debug_ai.txt
schema_debug.log
sql_debug.log
